.filter {
    padding: 10px 0;
}
* {
    margin: 0;
    padding: 0;
}

div {
    display: block;
}

.filter .manu {
    padding: 0 0 11px 1px;
    overflow: hidden;
}

.filter .manu a img {
    max-height: 70%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
img {
    border: 0;
}
* {
    margin: 0;
    padding: 0;
}
.filter .manu a {
    float: left;
    width: 12.41%;
    border: 1px solid #eee;
    height: 40px;
    line-height: 40px;
    position: relative;
    margin: 0 0 -1px -1px;
    color: #288ad6;
    text-align: center;
}

.filter .fl label {
    color: #333;
}
.filter .price * {
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
    line-height: 40px;
}
body, input, button, option, textarea, label, legend, h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font: 14px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
    color: #333;
    outline: none;
    zoom: 1;
}
* {
    margin: 0;
    padding: 0;
}

label {
    cursor: default;
}